<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />


    <bean id="op1" class="com.example.day0328.Operand" scope="prototype">
        <qualifier value = "quali_op1" />
        <property name="value" value="10" />
    </bean>

    <bean id="op2" class="com.example.day0328.Operand" scope="prototype">
        <qualifier value = "quali_op2" />
        <property name="value" value="20" />
    </bean>
    <bean id="operatorBean" class="com.example.day0328.PlusOp">
        
    </bean>
</beans>